.ListOfEmployees {
  position: relative;
  height: 460px;
  overflow: auto;
  display: block;
  border: 5px solid cadetblue;
  padding: 10px;
}

.ListOfEmployees__table {
  width: 500px;
  font-size: 18px;
}
