.app {
  text-align: center;
  background-color: #ecf1fc;
  height: 100vh;
}

.app__header {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 50px;
}

.app__body {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.app__body__btns {
  margin-left: 50px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
