.ListOfEmployees {
  height: 460px;
  overflow: auto;
  border: 5px solid cadetblue;
  padding: 10px;
  margin: 0px 50px 50px 50px;
  text-align: center;
}

.ListOfEmployees__table {
  width: 500px;
  font-size: 18px;
}

.loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
}
