.searchComponent {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  place-content: center;
}

.searchComponent label {
  margin: 10px 10px 0px 0px;
}

.searchComponent select {
  width: 200px;
  margin: 10px 10px 0px 0px;
}

.searchComponent input {
  width: 200px;
  margin: 10px 10px 0px 0px;
}

.searchComponent button {
  margin: 10px 10px 0px 0px;
}
